#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-y: hidden;
}

@media (min-width: 390px) {
  #root {
    width: 390px;
  }

  .title {
    font-size: 1.2rem;
    margin-top: 60px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.result {
  display: none;
}

.container {
  display: none;
  border: 1px solid #80ed99;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.frame {
  margin-top: 40px;
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  color: #0582ca;
  background-color: #051923;
  border-radius: 10px;
  padding: 10px;
}

.result-table {
  max-height: 400px;

  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

ul {
  text-align: left;
}

span {
  margin-top: 10px;
}
